* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Cabeçalho */
header {
  background-color: rgb(25, 131, 87);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Conteúdo principal */
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  gap: 5rem;
}

.news-item {
  background-color: rgb(255, 255, 255);
  border: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.34) 4px 6px 8px;
  margin: 1.5rem 0;
  padding: 1rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-item img {
  height: auto;
  object-fit: cover;
  width: 100%;
  margin-bottom: 1rem;
}

/* Barra lateral */
aside h3 {
  margin-bottom: 1.5rem;
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-position: inside;
}

/* Rodapé */

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  background-color: rgb(25, 131, 87);
  text-align: center;
  color: #fff;
}

.footer {
  position: fixed;
}

a img {
  max-width: 20px;
}

ul {
  list-style-type: circle;
  margin-left: 20px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

li:hover {
  background-color: #eee;
  transition: background-color 0.5s ease;
}

ul,
li {
  outline: none;
}

@media (max-width: 600px) {
  .header {
    width: 370px;
    background-color: rgb(25, 131, 87);
    color: #fff;
    display: grid;
  }
  .header h1 {
    margin: 10px;
    margin-left: 20px;
  }

  h1.titulo {
    display: flex;
    white-space: nowrap;
    position: static;
    margin-left: -10;
  }

  .categoria {
    display: none;
  }

  .news-item h3 {
    display: grid;
  }

  h3 {
    display: flex;
  }
  p {
    display: flex;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .news-container a {
    display: flex;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-right: 30px;
  }
  .news-item img {
    height: auto;
    object-fit: cover;
    width: 100%;
    margin-bottom: 1rem;
  }
  aside ul {
    list-style-type: circle;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 5px;
    gap: 40px;
  }
  .lista li {
    max-width: 100%;
    padding: 0px;
  }
  .news-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
    box-shadow: rgba(0, 0, 0, 0.34) 4px 6px 8px;
    margin: 1.5rem 0;
    padding: 1rem;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  footer {
    left: 0;
    bottom: 0;
    width: 350px;
    padding: 2rem;
    white-space: nowrap;
    background-color: rgb(25, 131, 87);
    text-align: center;
    color: #fff;
  }
  p.footer-index {
    padding-left: 55px;
  }
}
